nav {
  position: relative;
  perspective: 600px;
  height: 3%;
  width: 50%;
  align-self: flex-start;
}
ul > li > a {
  font-family: 'Atma', cursive;
  text-align: center;
  color:#000000;
  text-decoration: none;
  display: inline-block;
  margin-top: -8px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul > li {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.2s;
  transform: translateY(40px) translateX(100px) rotate(10deg);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  position: absolute;
  transition: all 0.2s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}
.dropdownBackground.open {
  opacity: 1;
}
.directions {
  width: 33vw;
  height: 45vh;
  background: url(assets/info.png) center;
  background-size: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}
#directions-text {
  width: 75%;
  height: 65%;
  font-family: 'Atma', cursive;
  color: #1b729f;
  font-size: 2.3vmin;
  line-height: 22px;
  text-align: block;
}