.buzz {
  background: url(assets/superheros/Buzz.png) center left no-repeat;
  background-size: auto;
}
.deadpool {
  background: url(assets/superheros/deadpool.png) top right no-repeat;
  background-size: auto;
}
.wolverine {
  background: url(assets/superheros/wolverine.png) bottom center no-repeat;
  background-size: auto;
}
.greenranger {
  background: url(assets/superheros/greenranger.png) bottom center no-repeat;
  background-size: auto;
}