.batman {
  background: url(assets/superheros/batman.png) center no-repeat;
  background-size: 40%;
  height:100%;
}
.shera {
  background: url(assets/superheros/shera.png) top center no-repeat;
  background-size: auto;
}
.elastigirl {
    background: url(assets/superheros/Elastigirl.png)center no-repeat;
    background-size: auto;
}
.greenlantern {
    background: url(assets/superheros/greenlantern.png) bottom center no-repeat;
    background-size: 28%;
    height:100%;
}
.gekko {
  background: url(assets/superheros/gekko.png) center no-repeat;
  background-size: 40%;
  height:100%;
}