HTML {
  box-sizing: border-box;
  background: #f23c27;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: auto;
  overscroll-behavior: none;
}
.container {
  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}
.side {
  width: 30%;
  height: 100%;
  overflow: visible;
}
.title {
  height: 60%;
  width: 100%;
  background: url(assets/title.png) top left no-repeat;
  background-size: 100%;
  transform: rotate(-10deg);
}
.play {
  height: 40%;
  width: 100%;
  background: url(assets/Play.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  cursor: pointer;
}
.play:hover {
  transform: scaleX(1.1) scaleY(1.1);
}
.middle {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.timer {
  width: 100%;
  height: 45%;
  background: url(assets/time.png) center no-repeat;
  background-size: 100%;
}
.score {
  width: 100%;
  height: 45%;
  background: url(assets/score.png) right no-repeat;
  background-size: 100%;
}
.game {
  width: 48%;
  height: 100%;
  background: url(assets/Pow.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-end;
  cursor: url(assets/cursor.png), auto;
}
.block {
  /* border: #f23c27 solid 1px; */
}
.block1 {
  height: 34%;
  width: 30%;
}
.block2, .block3 {
  height: 34%;
  width: 33%;
}
.block4 {
 height: 28%;
 width: 30%;
}
.block5 {
  height: 31%;
  width: 32%;
 }
 .block6 {
  height: 31%;
  width: 32%;
 }
.block7 {
  height: 26%;
  width: 30%;
}
.block8 {
  height: 28%;
  width: 31%;
}
.block9 {
  height: 26%;
  width: 34%;
}