HTML {
  box-sizing: border-box;
  background: #f23c27;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: auto;
}
.container {
  border: solid black 1px;
  width: 95vw;
  height: 90vh;
  margin: auto;
  margin-top: 2%;
}