@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Chewy&display=swap');
HTML {
  box-sizing: border-box;
  background: #f23c27;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: auto;
  overscroll-behavior: none;
}
.container {
  width: 98vw;
  height: 95vh;
  margin: auto;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}
.side {
  width: 30%;
  height: 100%;
  overflow: visible;
}
.title {
  height: 55%;
  width: 100%;
  background: url(assets/title.png) top left no-repeat;
  background-size: 100%;
  transform: rotate(-10deg);
}
.play-button {
  height: 42%;
  width: 100%;
  cursor: pointer;
  background: url(assets/go.png) center no-repeat;
  background-size: 80%;
}
.play-button:hover {
  transform: scaleX(1.1) scaleY(1.1);
}
.play {
  height: 100%;
  width: 100%;
  background: url(assets/Play.png) center no-repeat;
  background-size: 80%;
  transition: ease 0.3s;
}
.round2 {
  height: 100%;
  width: 100%;
  background: url(assets/Round2.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
}
.round3 {
  height: 100%;
  width: 100%;
  background: url(assets/Round3.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
}
.round4 {
  height: 100%;
  width: 100%;
  background: url(assets/Round4.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
}
.round5 {
  height: 100%;
  width: 100%;
  background: url(assets/Round5.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
}
.round6 {
  height: 100%;
  width: 100%;
  background: url(assets/Round6.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
}
.finalresults {
  height: 100%;
  width: 100%;
  background: url(assets/results.png) center no-repeat;
  background-size: 80%;
  border-radius: 20px;
  transition: ease 0.3s;
  display: none;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
}
.FR {
  width: 30%;
  height: 53%;
  text-align: center;
  transform: rotate(-5deg);
  font-family: 'Atma', cursive;
  font-size: 3vmin; 
  color: #f23c27;
}
#press {
  font-family: 'Atma', cursive;
  text-align: center;
  line-height: 0px;
}
.middle {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
}
.level {
  height: 10%;
  width: 100%;
  font-family: 'Atma', cursive;
  color: #fedb0e;
  font-size: 9vmin;
  text-align: center;
  line-height: 50px;
  border-bottom: #1b729f 5px solid;
}
.timer {
  width: 100%;
  height: 45%;
  background: url(assets/time.png) center no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chewy', cursive;
  color: #1b729f;
  text-align: right;
  font-size: 8vmin;
}
.score {
  width: 100%;
  height: 45%;
  background: url(assets/score.png) right no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Chewy', cursive;
  color: #fedb0e;
  text-align: right;
  font-size: 15vmin;
  line-height: 180px;
}
.wholescore {
  display: none;
}
.results {
  width: 100%;
  height: 5%;
  font-family: 'Atma', cursive;
  color: #fedb0e;
  font-size: 3vmin;
  text-align: center;
}
.game {
  width: 49%;
  height: 100%;
  background: url(assets/Pow.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-start;
  cursor: url(assets/cursor.png), auto;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block1 {
  height: 34%;
  width: 30%;
}
.block2, .block3 {
  height: 34%;
  width: 33%;
}
.block4 {
 height: 28%;
 width: 30%;
}
.block5 {
  height: 31%;
  width: 32%;
 }
 .block6 {
  height: 31%;
  width: 32%;
 }
.block7 {
  height: 26%;
  width: 30%;
}
.block8 {
  height: 28%;
  width: 31%;
}
.block9 {
  height: 26%;
  width: 34%;
}
.superhero {
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: ease 2s;
 background: center no-repeat;
 display: flex;
}
.superhero:hover {
  opacity: 1;
  transform: scaleX(1.1) scaleY(1.1);
}

@media screen and (min-width: 320px) and (max-width: 500px){
  .container {
    width: 98vw;
    height: 100vh;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    outline: black solid 1px;
  }
  .side {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .title {
    height: 100%;
    width: 60%;
    background: url(assets/title.png) center no-repeat;
    background-size: 80%;
    transform: rotate(-10deg);
  }
  .play-button {
    height: 80%;
    width: 50%;
    background: url(assets/go.png) center no-repeat;
    background-size: 80%;
  }
  .middle {
    height: 15%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    opacity: 0;
  }
}
